* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background: #f4f4f4;
  }
  
  .tours {
    padding: 40px 20px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* FILTER */
  .category {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }
  
  .category button {
    padding: 8px 18px;
    border-radius: 20px;
    border: none;
    background: #ddd;
    cursor: pointer;
  }
  
  .category button.active {
    background: #e63946;
    color: white;
  }
  
  /* GRID */
  .tour-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  /* CARD */
  .card {
    background: white;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  }
  
  .card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
  
  .card-body {
    padding: 12px;
  }
  
  .card h3 {
    font-size: 16px;
  }
  
  .card p {
    font-size: 13px;
    color: #777;
  }
  
  .price {
    display: inline-block;
    margin-top: 8px;
    font-weight: bold;
    color: #f4a261;
  }
  .meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-top: 8px;
    color: #666;
  }
  
  .order {
    font-weight: 600;
    color: #555;
  }
  
  
  /* RESPONSIVE */
  @media (max-width: 1024px) {
    .tour-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .tour-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  